.page-node-137, .page-node-142, .page-node-342, .page-node-346 {
	.title {
		color: $color3;
		margin-bottom: 30px;
	}
}
.page-node-138, .page-node-145, .page-node-349, .page-node-345 {
	.title {
		color: $color4;
		margin-bottom: 30px;
	}
}
.page-node-139, .page-node-144, .page-node-348, .page-node-344 {
	.title {
		color: $color5;
		margin-bottom: 30px;
	}
}
.page-node-140, .page-node-143, .page-node-347, .page-node-343 {
	.title {
		color: $color6;
		margin-bottom: 30px;
	}
}

.page-node-383, .page-node-384, .page-node-385, .page-node-386 {
	.title {
		color: $color7;
		margin-bottom: 30px;
	}
}

.view-fraedsla .where {
	&:after {
		display: none;
	}
}

/* Media Queries Min Width 480px */
/*	------------------------------*/

@media (min-width: 30em) {
	.item-list {
		.items {
			float: left;
			width: 100%;
			a {
				max-width: 105px;
			}
		}
		.items .image-wrapper {
			width: 33.64779874213836%;
			padding-right: 6px;
		}
		.content-wrapper {
			width: 66.35220125786164%;
			float: right;
			padding-left: 6px;
		}
	}
}

/* Media Queries Min Width 1024px */
/*	------------------------------*/

@media (min-width: 64em) {
	.item-list {
		.items .image-wrapper {
			padding-right: 20px;
		}
		.content-wrapper {
			padding-left: 20px;
		}
	}
}

/* Media Queries Min Width 1060px */
/*	------------------------------*/

@media (min-width: 66.25em) {
	.item-list {
		position: relative;
		padding-top: 100px;
		.items {
			padding-top: 91px;
		}
		&:before {
			position: absolute;
			height: 1px;
			width: 100%;
			background-color: $color19;
			top: 64px;
			left: 0;
			content: "";
			z-index: 1;
		}
		.block {
			position: static;
			.view-header {
				position: absolute;
				top: 0;
				/*width: 184px;*/
				border: none !important;
				z-index: 4;
			}
			.view-content {
				position: absolute;
				top: 50px;
				min-height: 100px;
				transition: opacity 550ms linear;
			}
			.header-1.active, .header-2.active, .header-3.active, .header-4.active {
				border-bottom: 1px solid  $color1;
				background: transparent;
			}
			.header-1, .header-2, .header-3, .header-4 {
				transition: all .28s ease-in-out;
				border-top: 1px solid  $color19;
				border-right: 1px solid  $color19;
				border-bottom: 1px solid  $color19;
				border-left: 1px solid  $color19;
				text-align: center;
				padding-top: 12px;
				padding-bottom: 12px;
				z-index: 2;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfaf4+0,f8f7f1+79,eae9e4+100 */
				background: rgb(251,250,244); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(251,250,244,1) 0%, rgba(248,247,241,1) 79%, rgba(234,233,228,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,250,244,1)), color-stop(79%,rgba(248,247,241,1)), color-stop(100%,rgba(234,233,228,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(251,250,244,1) 0%,rgba(248,247,241,1) 79%,rgba(234,233,228,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(251,250,244,1) 0%,rgba(248,247,241,1) 79%,rgba(234,233,228,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(251,250,244,1) 0%,rgba(248,247,241,1) 79%,rgba(234,233,228,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(251,250,244,1) 0%,rgba(248,247,241,1) 79%,rgba(234,233,228,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf4', endColorstr='#eae9e4',GradientType=0 ); /* IE6-9 */

				span {
					float: none;
				}
				.icon {
					display: none;
				}
			}
			.header-1, .header-2, .header-3, .header-4 {
				&:hover {
					opacity: 0.75;
				}
			}
			.header-1.active, .header-2.active, .header-3.active, .header-4.active {
				&:hover {
					opacity: 1;
				}
			}
		}
		.block:nth-child(1) .view-content {
			z-index: 2;
		}
		.block:nth-child(2) .view-content, .block:nth-child(3) .view-content, .block:nth-child(4) .view-content {
			opacity: 0;
		}
		.block:nth-child(1) {
			.view-header {
				left: 40px;
			}
		}
		/*.block:nth-child(2) {
			.view-header {
				left: 234px;
			}
		}
		.block:nth-child(3) {
			.view-header {
				left: 428px;
			}
		}*/
	}
	#block-views-fraedsla-block-1, #block-views-fraedsla-block-13,
	#block-views-fraedsla-block-5, #block-views-fraedsla-block-9,
	#block-views-fraedsla-block-17, #block-views-fraedsla-block-21 {
		.view-header {
			width: 98px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-fraedsla-block-1, .i18n-en #block-views-fraedsla-block-13,
	.i18n-en #block-views-fraedsla-block-5, .i18n-en #block-views-fraedsla-block-9,
	.i18n-en #block-views-fraedsla-block-17, .i18n-en #block-views-fraedsla-block-21 {
		.view-header {
			width: 128px;
			span {
				margin: 0;
			}
		}
	}
	#block-views-fraedsla-block-2, #block-views-fraedsla-block-14,
	#block-views-fraedsla-block-6, #block-views-fraedsla-block-10,
	#block-views-fraedsla-block-18, #block-views-fraedsla-block-22 {
		.view-header {
			width: 116px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-fraedsla-block-2, .i18n-en #block-views-fraedsla-block-14,
	.i18n-en #block-views-fraedsla-block-6, .i18n-en #block-views-fraedsla-block-10,
	.i18n-en #block-views-fraedsla-block-18, .i18n-en #block-views-fraedsla-block-22 {
		.view-header {
			width: 162px;
			span {
				margin: 0;
			}
		}
	}
	#block-views-fraedsla-block-3, #block-views-fraedsla-block-15,
	#block-views-fraedsla-block-7, #block-views-fraedsla-block-11,
	#block-views-fraedsla-block-19, #block-views-fraedsla-block-23 {
		.view-header {
			width: 142px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-fraedsla-block-3, .i18n-en #block-views-fraedsla-block-15,
	.i18n-en #block-views-fraedsla-block-7, .i18n-en #block-views-fraedsla-block-11,
	.i18n-en #block-views-fraedsla-block-19, .i18n-en #block-views-fraedsla-block-23 {
		.view-header {
			width: 113px !important;
			span {
				margin: 0;
			}
		}
	}
	#block-views-fraedsla-block-4, #block-views-fraedsla-block-16,
	#block-views-fraedsla-block-8, #block-views-fraedsla-block-12,
	#block-views-fraedsla-block-20, #block-views-fraedsla-block-24 {
		.view-header {
			width: 92px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-fraedsla-block-4, .i18n-en #block-views-fraedsla-block-16,
	.i18n-en #block-views-fraedsla-block-8, .i18n-en #block-views-fraedsla-block-12,
	.i18n-en #block-views-fraedsla-block-20, .i18n-en #block-views-fraedsla-block-24 {
		.view-header {
			width: 106px;
			span {
				margin: 0;
			}
		}
	}
	#block-views-syningar-block, #block-views-syningar-block-1, 
	#block-views-syningar-block-2, #block-views-syningar-block-3,
	#block-views-syningar-block-4 {
		.view-header {
			width: 156px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-syningar-block, .i18n-en #block-views-syningar-block-1, 
	.i18n-en #block-views-syningar-block-2, .i18n-en #block-views-syningar-block-3,
	.i18n-en #block-views-syningar-block-4 {
		.view-header {
			width: 112px;
			span {
				margin: 0;
			}
		}
	}
	#block-views-fraedsla-block-2, #block-views-fraedsla-block-14, #block-views-fraedsla-block-6 {
		.view-header {
			width: 116px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-fraedsla-block-2, .i18n-en #block-views-fraedsla-block-14, .i18n-en #block-views-fraedsla-block-6 {
		.view-header {
			width: 162px;
			span {
				margin: 0;
			}
		}
	}
	#block-views-syningar-block-5, #block-views-syningar-block-7, 
	#block-views-syningar-block-9, #block-views-syningar-block-11,
	#block-views-syningar-block-13 {
		.view-header {
			width: 132px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-syningar-block-5, .i18n-en #block-views-syningar-block-7, 
	.i18n-en #block-views-syningar-block-9, .i18n-en #block-views-syningar-block-11,
	.i18n-en #block-views-syningar-block-13 {
		.view-header {
			width: 102px;
			span {
				margin: 0;
			}
		}
	}
	#block-views-fraedsla-block-3, #block-views-fraedsla-block-15, #block-views-fraedsla-block-7 {
		.view-header {
			width: 142px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-fraedsla-block-3, .i18n-en #block-views-fraedsla-block-15, .i18n-en #block-views-fraedsla-block-7 {
		.view-header {
			width: 92px;
			span {
				margin: 0;
			}
		}
	}
	#block-views-syningar-block-6, #block-views-syningar-block-8, 
	#block-views-syningar-block-10, #block-views-syningar-block-12,
	#block-views-syningar-block-14 {
		.view-header {
			width: 106px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-syningar-block-6, .i18n-en #block-views-syningar-block-8, 
	.i18n-en #block-views-syningar-block-10, .i18n-en #block-views-syningar-block-12,
	.i18n-en #block-views-syningar-block-14 {
		.view-header {
			width: 86px;
			span {
				margin: 0;
			}
		}
	}
	#block-views-fraedsla-block-4, #block-views-fraedsla-block-16, #block-views-fraedsla-block-8 {
		.view-header {
			width: 92px;
			span {
				margin: 0;
			}
		}
	}
	.i18n-en #block-views-fraedsla-block-4, .i18n-en #block-views-fraedsla-block-16, .i18n-en #block-views-fraedsla-block-8 {
		.view-header {
			width: 106px;
			span {
				margin: 0;
			}
		}
	}
	/* Tab Layout for Fræðsla (IS) */
	.header-1-active.header-2-active, .header-1-active.header-3-active, .header-1-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 148px;
			}
		}
	}
	.header-2-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 166px;
			}
		}
	}
	.header-2-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 166px;
			}
		}
	}
	.header-3-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 192px;
			}
		}
	}
	.header-1-active.header-2-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 148px;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 274px !important;
			}
		}
	}
	.header-1-active.header-3-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 148px;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 300px !important;
			}
		}
	}
	.header-1-active.header-2-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 148px;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 274px !important;
			}
		}
	}
	.header-2-active.header-3-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 166px;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 318px;
			}
		}
	}
	.header-1-active.header-2-active.header-3-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 148px;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 274px;
			}
		}
		.item-list .block:nth-child(4) {
			.view-header {
				left: 426px !important;
			}
		}
	}
	/* Tab Layout for Fræðsla (EN) */
	.i18n-en.header-1-active.header-2-active, .i18n-en.header-1-active.header-3-active, .i18n-en.header-1-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 178px;
			}
		}
	}

	.i18n-en.header-2-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 212px;
			}
		}
	}
	.i18n-en.header-2-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 212px;
			}
		}
	}
	.i18n-en.header-3-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 142px;
			}
		}
	}
	.i18n-en.header-1-active.header-2-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 178px !important;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 350px !important;
			}
		}
	}
	.i18n-en.header-1-active.header-3-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 178px !important;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 280px !important;
			}
		}
	}
	.i18n-en.header-1-active.header-2-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 178px !important;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 350px !important;
			}
		}
	}
	.i18n-en.header-2-active.header-3-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 212px;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 314px;
			}
		}
	}
	.i18n-en.header-1-active.header-2-active.header-3-active.header-4-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 148px;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 274px;
			}
		}
		.item-list .block:nth-child(4) {
			.view-header {
				left: 473px !important;
			}
		}
	}
	/* Tab Layout for Sýningar IS */
	.page-node-137.header-1-active.header-2-active, .page-node-137.header-1-active.header-3-active,
	.page-node-140.header-1-active.header-2-active, .page-node-140.header-1-active.header-3-active,
	.page-node-139.header-1-active.header-2-active, .page-node-139.header-1-active.header-3-active,
	.page-node-138.header-1-active.header-2-active, .page-node-138.header-1-active.header-3-active,
	.page-node-383.header-1-active.header-2-active, .page-node-383.header-1-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 168px;
			}
		}
	}
	.page-node-137.header-1-active.header-3-active, 
	.page-node-140.header-1-active.header-3-active,
	.page-node-139.header-1-active.header-3-active,
	.page-node-138.header-1-active.header-3-active,
	.page-node-383.header-1-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 206px;
			}
		}
	}
	.page-node-137.header-2-active.header-3-active,
	.page-node-140.header-2-active.header-3-active,
	.page-node-139.header-2-active.header-3-active,
	.page-node-138.header-2-active.header-3-active,
	.page-node-383.header-2-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 182px;
			}
		}
	}
	
	.page-node-137.header-1-active.header-2-active.header-3-active,
	.page-node-140.header-1-active.header-2-active.header-3-active,
	.page-node-139.header-1-active.header-2-active.header-3-active,
	.page-node-138.header-1-active.header-2-active.header-3-active,
	.page-node-383.header-1-active.header-2-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 206px;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 348px !important;
			}
		}
	}
	/* Tab Layout for Sýningar EN */
	.page-node-142.header-1-active.header-2-active, .page-node-142.header-1-active.header-3-active,
	.page-node-144.header-1-active.header-2-active, .page-node-144.header-1-active.header-3-active,
	.page-node-143.header-1-active.header-2-active, .page-node-143.header-1-active.header-3-active,
	.page-node-145.header-1-active.header-2-active, .page-node-145.header-1-active.header-3-active,
	.page-node-384.header-1-active.header-2-active, .page-node-384.header-1-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 168px;
			}
		}
	}
	.page-node-142.header-1-active.header-3-active, 
	.page-node-144.header-1-active.header-3-active,
	.page-node-143.header-1-active.header-3-active,
	.page-node-145.header-1-active.header-3-active,
	.page-node-384.header-1-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 162px;
			}
		}
	}
	.page-node-142.header-2-active.header-3-active,
	.page-node-144.header-2-active.header-3-active,
	.page-node-143.header-2-active.header-3-active,
	.page-node-145.header-2-active.header-3-active,
	.page-node-384.header-2-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 152px;
			}
		}
	}
	
	.page-node-142.header-1-active.header-2-active.header-3-active,
	.page-node-144.header-1-active.header-2-active.header-3-active,
	.page-node-143.header-1-active.header-2-active.header-3-active,
	.page-node-145.header-1-active.header-2-active.header-3-active,
	.page-node-384.header-1-active.header-2-active.header-3-active {
		.item-list .block:nth-child(2) {
			.view-header {
				left: 162px !important;
			}
		}
		.item-list .block:nth-child(3) {
			.view-header {
				left: 274px !important;
			}
		}
	}
}