/* Subpages */

.sub {
	.tabs.primary {
		padding-top: 20px;
		a {
		color: $color3;
		text-decoration: none;
		font-family: $futuraheavy;
		font-size: 15px;
		font-size: 0.9375rem;
		}
	}
}
.tabledrag-toggle-weight-wrapper {
	.tabledrag-toggle-weight {
		font-family: $futuraheavy;
	}
}
.tabledrag-handle .handle:before {
	line-height: 1em;
   font-size: 1.5em;
   content: "\2261";
}

.tabledrag-handle {
	display: inline-block;
	cursor: move;
	vertical-align: middle;
}

.view-syningar-draggable-view {
	position: relative;
	overflow: hidden;
	padding: 20px 39px;
	table {
		td {
			padding: 6px 14px;
		}
	}
	a {
		color: #221e1a;
		text-decoration: none;
		font-family: $futuramedium;
		font-size: 14px;
		font-size: 0.875rem;
	}
}

.sub {
	.social-media {
		top: 52px;
	}
	.component-breadcrumbs {
		margin-bottom: 20px;
		li:last-child {
			a:after {
				display: none;
			}
		}
	}
	.image-wrapper {
		margin-bottom: 17px;
		margin-left: -30px;
		margin-right: -30px;
		img {
			margin-bottom: 14px;
		}
		figcaption {
			padding: 0 30px;
		}
	}
	
}

.user-content {
	color: $color9;
	p, ul, ol {
		font-family: $merriweather;
		font-size: 14px;
		font-size: 0.875rem;
		margin-bottom: 16px;
	}
	ul, ol {
		padding-left: 12px;
	}
	h2, h3, h4 {
		font-size: 20px;
		font-size: 1.25rem;
		font-family: $futuraheavy;
	}
	a:link, a:visited {
		color: $color6;
		font-family: $merriweather;
		font-style: italic;
		font-weight: 700;
	}
}

.table-wrapper {
	table {
		th {
			font-family: $futuraheavy;
			font-size: 15px;
			font-size: 0.9375rem;
			border-bottom: 2px solid $color19 !important;
		}
		tbody {
			th {
				border-bottom: 1px solid $color19 !important;
			}
		}
		td {
			font-family: $merriweather;
			font-size: 14px;
			font-size: 0.875rem;
			border-top: 1px solid $color19;
		}
		tr:last-child {
			td {
				border-bottom: 1px solid $color19;
			}
		}
	}
}

a.zoom-in {
	display: block;
	position: relative;
	span {
		position: absolute;
		display: inline-block;
		background-color: rgba(255,255,255,0.48);
		position: absolute;
		right: 0;
		top: 0;
		img {
			margin: 0 !important;
		}
	}
}


/* Media Queries Min Width 435px */
/*	------------------------------*/

@media (min-width: 27.1875em) {

	.sub {
		
		.component-breadcrumbs {
			margin-bottom: 20px;
			li:last-child {
				a:after {
					display: none;
				}
			}
		}
		.image-wrapper {
			margin-left: 0;
			margin-right: 0;
			figcaption {
				padding: 0;
			}
		}
		
	}

}



/* Media Queries Min Width 768px */
/*	------------------------------*/

@media (min-width: 48em) {

	.sub {
		
		.component-breadcrumbs {
			margin-bottom: 36px;
			margin-top: 33px;
		}
				
	}

}

/* Media Queries Min Width 900px */
/*	------------------------------*/

@media (min-width: 56.25em) {

}

/* Media Queries Min Width 1024px */
/*	------------------------------*/

@media (min-width: 64em) {

	.sub {
		
		.image-wrapper.right {
			float: right;
			width: 39.30817610062893%;
			margin-left: 24px;
			margin-top: 2px;
		}

		.image-wrapper.left {
			float: left;
			width: 39.30817610062893%;
			margin-right: 24px;
			margin-top: 2px;
		}
		
	}

}


/* Media Queries Min Width 1100px */
/*	------------------------------*/

@media (min-width: 68.75em) {

}

/* Media Queries Min Width 1200px */
/*	------------------------------*/

@media (min-width: 75em) {

}

/* Media Queries Min Width 1400px */
/*	------------------------------*/

@media (min-width: 87.5em) {
	
}

/* Media Queries Min Width 1500px */
/*	------------------------------*/

@media (min-width: 93.75em) {
	
}


