
.hvirfill-controls {
  margin: 0 -10px;
  padding: 20px 40px 0px 40px;
}

.hvirfill-controls div {
  float: left;
  padding:  0 10px;
  padding-bottom: 10px;
}

.hvirfill-controls input,
.hvirfill-controls select {
  width: 100%;
  padding: 2px 7px;
  border: 1px solid #ccc;
}

.hvirfill-controls .search-box {
  width: 50%;
}

.hvirfill-controls .date-box,
.hvirfill-controls .switch-box,
.hvirfill-controls .title-box {
  width: 25%;
}

.hvirfill-wrapper {
  padding: 40px;
  padding-top: 20px;
}

/* item */

.hvirfill-item {
  position: relative;
  float: left;
  width: 25%;
  height: 330px;
}

.hvirfill-splitter .hvirfill-image {
  background: url('/sites/all/modules/hvirfill/css/images/background-pattern.png') repeat;
}

.hvirfill-item h2 {
  font-family: 'Futura W01 Heavy', sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.3;
}

.hvirfill-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding-top: 15%;
  padding-left: 15%;
}

.hvirfill-date h2 {
  line-height: 1.7;
}

.hvirfill-image img {
  width: 100%;
}

.hvirfill-image span {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 3px 12px 3px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.65rem;
}

.hvirfill-info {
  padding: 0 20px;
  padding-top: 10px;
}

.hvirfill-info p {
  font-size: 0.75rem;
  line-height: 1.64;
  text-align: center;
  padding: 2px;
}

.hvirfill-event {
  color: #221e1a;
  cursor: pointer;
}

.hvirfill-event:hover {
  background-color: #fbfaf4;
  color: #f26522;
}

.hvirfill-info p,
.hvirfill-info h2 {
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* modal */

.hvirfill-modal .modal {
  background: url('/sites/borgarsogusafn.is/themes/borgarsogusafn_theme/assets/styles/images/assets/pattern_bg_main.png') repeat;
}

.hvirfill-modal h4,
.hvirfill-modal h5 {
  padding: 3px 0;
}

.hvirfill-modal h4 {
  font-weight: 600;
}

.hvirfill-modal a {
  cursor: pointer;
  text-decoration: none;
}

.hvirfill-modal .event-wrapper {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  background-color: #fff;
}

.hvirfill-modal .event-header {
  padding: 0 20px;
}

.hvirfill-modal .event-header .pager {
  margin: 0;
}

.hvirfill-modal .event-content {
  color: #393933;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
}

.hvirfill-modal .event-part {
  float: left;
  padding: 10px;
  padding-bottom: 20px;
}

.hvirfill-modal .event-image {
  width: 100%;
  float: left;
  position: relative;
}

.hvirfill-modal .event-image img {
  width: 100%;
}

.hvirfill-modal .event-image span {
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 20px 7px;
  margin: 10px;
}

.hvirfill-modal .event-info h5 span {
  color: #393933;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.hvirfill-modal .event-info h5 span.label {
  padding-left: 0;
  font-weight: 600;
}

/* blocks */

.hvirfill-modal .block {
  float: left;
}

.hvirfill-modal .first-block {
  width: 60%;
}

.hvirfill-modal .second-block {
  width: 100%;
  display: none;
}

.hvirfill-modal .third-block {
  width: 40%;
}

.hvirfill-modal .fourth-block {
  width: 100%;
}

.hvirfill-modal .info-block {
  width: 100%;
}

.hvirfill-modal .cal-block {
  width: 100%;
}

/* map */

.hvirfill-modal .modal-map {
  max-width: 1060px;
  height: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
}

.hvirfill-modal #modal-map {
  height: 100%;
}

/* logo */

.hvirfill-modal .event-logo {
  background-color: #fff;
  padding: 4px;
  margin-right: 4px;
  padding-left: 3px;
}

.hvirfill-modal .event-logo img {
  float: left;
  margin-top: 5px;
}

.hvirfill-modal .event-logo {
  background-color: #fff;
}

.hvirfill-modal .event-logo a {
  color: #221e1a;
  text-decoration: none;
}

.hvirfill-modal .event-logo a:hover {
  color: #221e1a;
}

.hvirfill-modal .event-logo div {
  float: left;
  width: 150px;
  text-align: left;
  margin-top: 5px;
}

.hvirfill-modal .event-logo div span {
  line-height: 25px;
}

.hvirfill-modal .event-logo div span.bold {
  font-weight: bold;
}

/* calendar */

table.cal {
  font-size: 0.9rem;
  width: 100%;
}

table.cal tbody {
  border: none;
}

table.cal td {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #999;
}

table.cal td.sameMonth {
  color: #333;
}

table.cal td.event {
  color: #fff;
}

table.cal td.today {
  font-weight: bold;
}

td.event {
  background-color: #337ab7;
}

.link-green td.event {
  background-color: #00984a;
}

.link-yellow td.event {
  background-color: #faa61a;
}

.link-blue td.event {
  background-color: #00508f;
}

.link-red td.event {
  background-color: #f26522;
}

.link-green td.event {
  background-color: #00984a;
}

.link-yellow td.event {
  background-color: #faa61a;
}

@media (max-width: 1150px) {

  .hvirfill-wrapper,
  .hvirfill-controls {
    padding: 20px;
    padding-bottom: 0;
  }

  .hvirfill-item {
    height: 290px;
  }

  .hvirfill-item h2 {
    font-size: 1rem;
  }

  .hvirfill-image span {
    font-size: 0.6rem;
    padding: 1px 9px 1px;
  }
}

@media (max-width: 767px) {

  .hvirfill-controls input,
  .hvirfill-controls select {
    font-size: 12px;
  }

  .hvirfill-item {
    width: 33.33%;
  }

  .hvirfill-modal .event-cal {
    width: 60%;
  }

  .hvirfill-modal .first-block {
    width: 100%;
  }

  .hvirfill-modal .second-block {
    display: block;
  }

  .hvirfill-modal .third-block {
    width: 100%;
  }

  .hvirfill-modal .fourth-block {
    display: none;
  }

  .hvirfill-modal .cal-block,
  .hvirfill-modal .info-block {
    width: 50%;
  }
}

@media (max-width: 570px) {

  .hvirfill-controls .search-box,
  .hvirfill-controls .date-box,
  .hvirfill-controls .switch-box {
    width: 100%;
  }

  .hvirfill-item {
    width: 50%;
  }

  .hvirfill-modal .event-logo {
    display: none;
  }

  .hvirfill-modal .cal-block,
  .hvirfill-modal .info-block {
    width: 100%;
  }
}

/* links */

.link-yellow a {
  color: #faa61a;
}

.link-yellow a:hover {
  color: #faa61a;
}

.link-blue a {
  color: #00508f;
}

.link-blue a:hover {
  color: #00508f;
}

.link-red a {
  color: #f26522;
}

.link-red a:hover {
  color: #f26522;
}

.link-turkish-blue a {
  color: #009c9e;
}

.link-turkish-blue a:hover {
  color: #009c9e;
}

.link-green a {
  color: #00984a;
}

.link-green a:hover {
  color: #00984a;
}

.link-yellow a {
  color: #faa61a;
}

.link-yellow a:hover {
  color: #faa61a;
}