.back {
	display: none;
	.icon-top-arrow {
		display: none;
	}
	.icon-left {
		font-size: 12px;
		font-size: 0.75rem;
	}
	span, p {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		margin-right: 26px;
	}
}