/* Header */

.header-layout {
   height: 60px;
   position: fixed;
   width: 100%;
   top: 0;
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
   z-index: 11;

   ul {
   	list-style-type: none;
   }
	.component-nav-main-top {
		display: none;
	}


	/* Media Queries Min Width 760px */
	/*	------------------------------*/

	@media (min-width: 48em) {

	/* Header */

		.component-nav-main-top {
			display: block;

			li {
				width: 20%;
			a {
					height: 47px;
					height: 2.9375rem;
					padding-top: 9px;
				}
			}
		}
		.main-header {
			height: 107px;
			height: 6.6875rem;
		}

	}


	/* Media Queries Min Width 1024px */
	/*	------------------------------*/

	@media (min-width: 64em) {

	/* Header */

		.component-nav-main-top {
			li {
				a {
					height: 38px;
					height: 2.375rem;
					padding-top: 13px;
				}
			}
		}
	}

}


