// Typography
//
// Font size, line-height, color etc.
//
// Styleguide 1.0

html, body {
    font-size: $basefontsize;
    line-height: $baselineheight;
    color: $basefontcolor;
    font-family: $basefontfamily;
    font-weight: $basefontweight;
}

.f-XXXL {
	font-size: 48px;
	font-size: 3rem;
}

.f-XXL {
	font-size: 30px;
	font-size: 1.875rem;
}

.f-XL {
	font-size: 24px;
	font-size: 1.5rem;
}

.f-L {
	font-size: 20px;
	font-size: 1.25rem;
}

.f-M {
	font-size: 19px;
	font-size: 1.1875rem;
}

.f-S {
	font-size: 16px;
	font-size: 1rem;
}

.f-XS {
	font-size: 14px;
	font-size: 0.875rem;
}

.f-XXS {
	font-size: 12px;
	font-size: 0.75rem;
}

.f-XXXS {
	font-size: 11px;
	font-size: 0.6875rem;
}

.f-1 {
	font-family: $opensans;
	font-weight: 400;
}

.f-1-2 {
	font-family: $opensans;
	font-weight: 600;
}

.f-1-3 {
	font-family: $opensans;
	font-weight: 700;
}

.f-2 {
	font-family: $futuraheavy;
	font-weight: normal;
}

.f-2-2 {
	font-family: $futuramedium;
}

.f-3 {
	font-family: $merriweather;
	font-weight: 400;
}

.f-3-2 {
	font-family: $merriweather;
	font-weight: 700;
}

.f-3-3 {
	font-family: $merriweather;
	font-weight: 400;
	font-style: italic;
}

.f-3-4 {
	font-family: $merriweather;
	font-weight: 700;
	font-style: italic;
}

.f-3 {
    a:link, a:visited {
        	color: $color6;
        	font-family: $merriweather;
			font-weight: 700;
			font-style: italic;
    }
}



// 	 Futura Heavy XXXL
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXXL f-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.1

// 	 Futura Heavy XXL
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXL f-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada.</h1>
// 	 	</div>
//
//	 Styleguide 1.2

// 	 Futura Heavy XL
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XL f-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus.</h1>
// 	 	</div>
//
//	 Styleguide 1.3

// 	 Futura Heavy L
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-L f-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.4

// 	 Futura Heavy M
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-M f-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.5

// 	 Futura Heavy S
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-S f-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.6

// 	 Futura Heavy XS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XS f-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.7

// 	 Futura Heavy XXS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXS f-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.8

// 	 Futura Medium M
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-M f-2-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.9

// 	 Futura Medium XS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XS f-2-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.10

// 	 Open Sans Bold XS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XS f-1-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.11

// 	 Open Sans Bold XXS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXS f-1-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.12

// 	 Open Sans Bold XXXS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXXS f-1-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.13

// 	 Open Sans Semi Bold XXXS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXXS f-1-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.14

// 	 Open Sans Regular XXS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXS f-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.15

// 	 Merriweather XS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XS f-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.16

// 	 Merriweather XXS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXS f-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.17

// 	 Merriweather Bold XXS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXS f-3-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.18

// 	 Merriweather Italic XXS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXS f-3-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.19

// 	 Merriweather Bold Italic XXS
// 
// 	 markup:
//	 	<div class="example styleguide">
//			<h1 class="f-XXS f-3-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus metus in ornare malesuada. Cras et viverra tellus. Fusce imperdiet ligula non fermentum convallis. Cras facilisis purus ac ipsum mattis accumsan. Sed ut interdum ipsum. Proin facilisis ipsum iaculis urna luctus malesuada. Morbi felis elit, mattis non venenatis sit amet, bibendum vitae elit.</h1>
// 	 	</div>
//
//	 Styleguide 1.20











